<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StorageRootDirectoryPath" value="D:\Yandex Drive\Projects\DashProject\solution\website" />
    <add key="MediaContentFolderName" value="MediaContent"/>
    <add key="MediaProductionFolderName" value="production"/>
    <add key="ManifestFileName" value="Manifest.mpd" />
    <add key="InitMediaFileName" value="init.mp4" />
  </appSettings>
  
  
</configuration>