<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <configSections>
    <section name="Manitou" type="Manitou.Data.Provider.ManitouServiceSection, Manitou.Data.Provider" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
  </configSections>
  
  <connectionStrings>
    <add name="DashProject" connectionString="server=db.dashproject.com.ua;database=DashProject;user=thenoob;password=Killalltoys88;language=us_english" />
  </connectionStrings>
  
  <Manitou defaultProvider="DashProjectProvider">
    <providers>
      <add name="DashProjectProvider" type="DashProject.Data.MsSql.MsSqlManitouProvider, DashProject.Data.MsSql" commandTimeOut="60" connectionStringName="DashProject" />
    </providers>
  </Manitou>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  
</configuration>